$font-family-sans-serif: 'Lato';
$navbar-height: 65px;
$navbar-default-bg: #fff;
$navbar-padding-vertical: 3px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert/dist/sweetalert";

body {
    font-weight: 300;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

img {
    max-width: 100%;
}

.fa-btn {
    margin-right: 5px;
}

[v-cloak] {
    display: none;
}

/* Temp navbar hack because Bootstrap hates non-hamburger navs */
.logo {
    max-width: 40%;
}

.nav-buttons {
    float: right;
    min-width: 200px;
    text-align: right;
}

.nav-action-button {
    margin-top: 0.75em;
}

@media only screen and (min-width: 600px) {
    .nav-action-button {
        margin-top: 2em;
    }
}

.conference-button {
    border: 1px solid #eee;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 0;
    overflow: auto;
    padding: 0.75em;

    &:hover {
        background-color: $brand-primary;
        color: #fff;
    }
}

.conference-delete-button {
    margin-left: 1em;
}

.friends {
    margin-bottom: 20px;
}

.friend {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    display: block;
    margin: 5px 0;
}

.friend__avatar {
    background-color: $gray-lighter;
    float: left;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.friend__body {
    float: left;
    padding: 10px;
    width: 75%;

    h4 {
        margin-top: 5px;
        font-size: 16px;
    }
}

.btn-danger.btn-inverse {
    background-color: $btn-default-bg;
    color: $brand-danger;
}

.btn-primary.btn-inverse {
    background-color: $btn-default-bg;
    color: $brand-primary;
}

.btn-success.btn-inverse {
    background-color: $btn-default-bg;
    color: $brand-success;
}

.landing p {
    font-size: 2em;
    margin-bottom: 1em;
}

.screenshot {
    border: 0.5em solid #eee;
    display: block;
    margin: 3em auto 0;
    width: 800px;
}

/* Friend Details Modal */
.friend-details-modal {
    text-align: center;
    width: 100%;

    img {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
    }

    span {
        color: #ccc;
        font-weight: 300;
    }
}
/* End Friend Details Modal */

@media screen and (max-width: $screen-sm-max) {
    .logo {
        margin-top: 5px;
    }

    .landing p {
        font-size: 1.5em;
    }
}
