/* http:// nicolasgallagher.com/micro-clearfix-hack */
.clearfix:before, .clearfix:after, .hlist:before, .hlist:after { content: ""; display: table; }
.clearfix:after, .hlist:after { clear: both; }
.clearfix, .hlist { zoom: 1; }
a.clearfix { display: block; }

body {
    background: #555;
    font-family: arial;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
input, input[type="text"], input[type="email"] {
    font-size: 16px;
}
.container {
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
    /*padding: 1rem;*/
}
@media only screen and (min-width: 500px) {
	.container {
		padding: 1rem 2rem;
	}
}
.page-header {
    background: #eee;
    padding: 1rem 2rem 0.5rem;
}
	@media only screen and (min-width: 500px) {
		.page-header {
			margin: -1rem -2rem 1rem;
		}
	}
.page-title, .slogan {
    font-family: 'Menlo', 'Courier New', 'Courier';
}
.page-title {
    margin: 0;
}
.page-title span {
    font-size: 1rem;
    font-style: italic;
}
.slogan {
    font-style: italic;
    margin: 0.5rem 0 1rem 0;
    text-transform: uppercase;
}
.logout-link {
	font-size: 90%;
	padding: 0.15em;
	float: right;
}

h2 {
    background: #eee;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
	padding: 0.5rem 1rem;
}

@media only screen and (min-width: 500px) {
	h2 {
		padding: 0.5rem 0.5rem 0.25rem;
	}
}

.friends-list-container {

}
.friends-list-container ul {
    list-style-type: none;
    padding-left: 0;
}
.friends-list-container li div {
    display: inline-block;
}

@media only screen and (min-width: 500px) {
    .friends-list-container ul {
        padding-left: 1em;
    }
}
.old-friends-list-container .marked-as-met,
.old-friends-list-container .marked-as-met a {
    color: #999;
}
.marked-as-met button.mark-as-met {
    opacity: 0.4;
}
.marked-as-met img {
    opacity: 0.4;
}

.new-friends-list-container a.mark-as-met {
    display: none;
}
.friends-list-item .approve-suggested {
    display: none;
}



.friend-list-item__image, .friend-list-item__body, .friend-list-item__actions {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
}
.friend-list-item__image {
	float: left;
	margin-right: 0.5em;
}
.friend-list-item__image {
	height: 4rem;
	display: block;
	width: 4rem;

}
.friend-list-item__body {
	display: block;
	font-size: 0.9rem;
	padding: 0.25rem;
}
.friend-list-item__actions {
	/*background: blue;*/
	/*height: 4rem;*/
	font-size: 0.9rem;
	float: right;
}
	/*.friend-list-item__action {*/
		/*display: block;*/
		/*height: 4rem;*/
		/*margin: 0;*/
	/*}*/


.friends-list-item {
    border-bottom: 1px solid #aaa;
	clear: both;
	height: 4rem;
    margin: 0;
}
    .friends-list-item:first-of-type {
        border-top: 1px solid #aaa;
    }
    .friends-list-item.suggested {
        background: rgba(255, 0, 0, .5);
    }
        .friends-list-item.suggested .mark-as-met {
            display: none;
        }
        .friends-list-item.suggested .approve-suggested {
            display: inline-block;
        }
    .friends-list-item a {
		color: #333;
		text-decoration: none;
    }
		.friends-list-item a:hover {
			color: #333399;
		}

.submit-friend {
	padding: 0.5rem;
}
	.submit-friend button, .submit-friend input[type=submit] {
		padding: 0.5em;
	}

.addItem-message {
    color: #333;
    font-size: 90%;
    font-style: italic;
    height: 1rem;
    margin-left: 1rem;
}

/* ====== button ====== */
.button {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 0.1em;
    color: #555;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.3em;
    padding: 0.3em 0.5em;
    text-decoration: none;
}
.button:hover {
    background: #fff;
    color: #333;
}
